/* ADD JOB FORM */

.AddJobForm {

    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;

}

.AddJobForm form {

    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;

}

.AddJobForm form label {

    display: flex;
    padding: 10px;
    color: white;

}

.section {

    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 10px;
    transition: .1s;
    margin: 10px;

}

.AddJobForm form .section .pair {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
    background-color: black;
    border: 1px solid white;
    transition: .1s;

}

.AddJobForm form input {

    width: 90%;
    font-size: 15px;
    margin: 0 auto;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    margin-bottom: 5px;
    text-align: center;

}

.AddJobForm form input:focus {

    border-bottom: 2px solid rgb(185, 50, 50);

}

.AddJobButtons {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

form div a {

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    transition: .5s;
    color: white;

}

form div button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    transition: .5s;
    color: white;
}

form div button:hover {

    color: rgb(49, 148, 49);
    cursor: pointer;

}

form div a:hover {

    color: rgb(185, 50, 50);
    cursor: pointer;

}

@media only screen and ( max-width: 1000px ) {

    .section {
        flex-direction: column;
        /* width: 50%; */
    }

    .AddJobForm form .section .pair {
        width: 100%;
    }

}