
.EditJobForm {

    width: 100%;
    margin: 0 auto;
    background-color: black;
    min-height: 90vh;
    
}

.EditJobForm form {
    background-color: black;
}

.Category {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    border: 1px solid white;
    /* padding-bottom: 10px; */
    /* overflow: hidden; */
    
}

.Category h1 {
    font-family: 'Lobster', cursive;
    color: white;
}

.Section {
    width: 90%;
    display: flex;
    flex-direction: row;
    border: none;
    margin: 0 auto;
    padding: 10px;
}

.pair {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.pair label {
    color: white;
    margin-bottom: 10px;
}

.pair input {
    color: black;
    font-weight: bolder;
    width: 90%;
}

.pair input:focus {
    border-bottom: 2px solid rgb(185, 50, 50);
}

.ToggleButtonsContainer {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

button.AButton {
    /* background-color: rgba(255, 255, 255, 0); */
    width: auto;
    border: none;
    outline: none;
}