
::-webkit-scrollbar {
    background: black; 
}

::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    border-left: 1px solid white;
    border-right: 1px solid white;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
}

.Jobs {

    /* background-color: rgb(255, 255, 255); */
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);

}

.Statistics {

    display: flex;
    width: 90%;
    justify-content: space-evenly;

}

/* JOBS ADDED */

.ToggleMessageActive {

    transition: .5s;
    color: white;
    background-color: rgb(250, 181, 32);
    height: 50px;
    margin: 0 auto;

}

.ToggleMessageInactive {

    transition: .5s;
    color: rgba(0, 0, 0, 0);
    height: 0px;
    background-color: rgba(46, 145, 170, 0);
    height: 50px;
    margin: 0 auto;

}

a.updateActive {

    display: flex;
    justify-content: center;
    transition: .5s;
    width: 25%;
    background-color: rgb(250, 181, 32);
    border: none;
    margin: 0 auto;
    padding: 0px;
    margin-top: 10px;
    height: 25px;
    color: white;
    font-size: 17px;
    outline: none;
    text-decoration: none;
    border-radius: 5px;

}

a.updateInactive {

    display: flex;
    justify-content: center;
    transition: .5s;
    width: 25%;
    color: rgba(0, 0, 0, 0);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-bottom: 10px;
    height: 25px;
    font-size: 17px;
    outline: none;
    text-decoration: none;
    border-radius: 5px;

}

div.JobContainer {

    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    /* background: url('https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); */
    /* background: url( 'https://images.unsplash.com/photo-1545612700-748b9ff50b3f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' ); */
    /* background-image: url('https://images.unsplash.com/photo-1544926485-f079cef40f9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=869&q=80');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%; */
    border: 2px solid white;
    
}

.JobContainer h1 {
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}


.Job .Header{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 50px;

}

.CompanyName {

    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-decoration: underline;
    color: white;
    text-decoration-color: rgb(185, 50, 50);

}

.Role {

    font-size: 15px;
    margin-top: 5px;
    color: rgb(185, 50, 50);

}

.Applied {

    display: flex;
    font-size: 15px;
    justify-content: baseline;
    flex-direction: column;
    /* margin: 0 auto; */
    /* margin-bottom: 20px; */

}

.Applied p {

    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.Applied .Date {

    font-weight: bold;
    color: white;

}

.Job .a {

    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 15px;
    height: 50px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    border: 1px solid white;
    width: 25%;
    margin: 0 auto;
    transition: .3s;
    border-radius: 5px;

}

.Job .a:hover {

    color: black;
    background-color: white;
    transition: .3s;

}

.indView {

    width: 95%;
    margin: 0 auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid white; */
    padding: 10px;
    color: white;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;

}

.individual .JobContainer {
    background-color: rgb(0, 0, 0);
    border: none;
}

.individual {
    padding: 10px;
    border-radius: 10px;

}

/* STATS CHART */

.Stats {

    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    /* border-bottom: 3px solid rgba(255, 255, 255, 0.521); */
    /* background: url('https://images.pexels.com/photos/2733862/pexels-photo-2733862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    /* background-image: url('https://images.unsplash.com/photo-1580584126903-c17d41830450?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=937&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1519705129143-43afdfe43ac7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80');
    /* background-image: url('https://images.unsplash.com/photo-1564073259995-5b3e73577cfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); */
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    padding: 10px;
    /* border-radius: 10px; */

}

.Stats div {

    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    color: white;

}

.Stats div p {

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur( 5px );
    border: 3px solid white;
    padding: 40px;

}

div.rv-xy-plot {

    /* background-color: rgba(255, 255, 255, 0.452); */
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur( 5px );
    margin: 0 auto;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    /* color: black; */
    color: white;
    border: 1px solid white;

}

text.rv-xy-plot__axis__tick__text {

    /* fill: rgb(0, 0, 0); */
    fill: white;
    
}

.ZoomControls {

    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

}

.ZoomControls .Zoom {

    color: rgb(255, 255, 255);
    margin-left: 10px;

}

.ZoomControls .Zoom:hover {

    cursor: pointer;

}