
/* PUPPETEER JOBS */

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

.LoadingGif {

    height: 300px;
    /* width: 300px; */
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    border: 2px solid white;
    border-radius: 1000px;

}

.LoadingGifImg {
    width: 100%;
    padding: 10px;
}

.PuppeteerJobs {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    transition: .5s;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-name: expand;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
	animation-duration: 1s;
}

@keyframes expand {

	0% {
		height: 300px;
    }
    90% {
		height: 500px;
    }
	100% {
		height: auto;
    }
    
}

.PuppeteerJob {
    width: 30%;
    height: auto;
    /* max-height: 179px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border: 1px solid white;
    /* background-color: rgba(255, 255, 255, 0.39); */
    /* backdrop-filter: blur( 5px ); */
    margin: 10px;
    padding: 5px;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
	animation-duration: 1s;
}

.PuppeteerJob:hover {
    border: 1px solid rgb(185, 50, 50);
    cursor: default;
}

.PuppeteerJob h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(185, 50, 50);
}

.PuppeteerBottom {

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.PuppeteerBottom .buttons {
    display: flex;
    width: 25%;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.PuppeteerBottom .buttons button {
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: .3s;
    padding: 10px;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    outline: none;
}

.PuppeteerBottom .buttons a {
    color: white;
    font-size: 15px;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    transition: .3s;
    border-radius: 100px;
    outline: none;
}

.PuppeteerBottom .buttons a:hover {
    color: rgb(88, 185, 50);
    background-color: white;
}

.PuppeteerBottom .buttons button:hover {
    color: rgb(185, 50, 50);
    cursor: pointer;
    background-color: white;
}

.PuppeteerJob h5 {
    color: rgb(185, 50, 50);
    font-size: 15px;
    text-indent: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.PuppeteerJob p {
    padding: 10px;
    text-indent: 10px;
    font-size: 15px;
    color: white;
}

@keyframes fadeIn {

	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
    }
    
}

/* SEARCH SETTINGS */
.SuggestedJobs {
    min-height: 100vh;
    background-color: black;
}

.SearchSettings {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ParamSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    background-color: black;
}

.ParamSection h3 {
    width: 100%;
    font-size: 12px;
    min-height: 25px;
}

.AppliedItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 300px;
}

.AppliedItems .Item {
    background-color: rgb(248, 248, 248);
    display: flex;
    color: black;
    width: fit-content;
    height: auto;
    margin: 5px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.AppliedItems .Item p {
    background-color: rgb(248, 248, 248);
    border: none;
    color: black;
    width: fit-content;
    height: auto;
    word-wrap: break-word;
    font-size: 12px;
    margin: 5px;
}

.AppliedItems .Item svg {
    height: 20px;
    width: 20px;
    margin: 5px;
    transition: .3s;
    border-radius: 100px;
}

.AppliedItems .Item svg:hover {
    color: red;
    cursor: pointer;
}

.InputSection {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.InputSection input {
    border: none;
    width: 80%;
    outline: none;
    background-color: black;
    padding: 0px;
    border-bottom: 1px solid black;
    transition: .3s;
    color: white;
}

.InputSection input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(185, 50, 50);
}

.InputSection button {
    height: auto;
    width: 20%;
    border: none;
    font-size: initial;
    padding: 0px;
    transition: .3s;
    outline: none;
}

.InputSection button:hover {
    background-color: white;
    color: black;
}

.SubmitButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.SubmitButtons button {
    padding: 5px;
    margin: 5px;
    color: white;
    outline: none;
    background-color: black;
    border: 1px solid white;
    transition: .3s;
}

.SubmitButtons button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}